table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

td {
    background-color: #f9f9f9;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}

tr:hover td {
    background-color: #e6e6e6;
}

/* Add a hover effect for header cells */
th:hover {
    background-color: #555;
}

/* Add a gradient effect to the table header row */
thead tr {
    background: linear-gradient(to bottom, #333, #555);
}