<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Reassort</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">
  <script src="../../static/data/descr.json"></script>
  <script src="../../static/data/images.json"></script>
  <script src="../../static/data/invent.json"></script>
  <script src="{{ url_for('static', filename='scripts/reassort.js') }}">
  </script>
</head>

<h1> Reassort des stocks ! </h1>

<body>

  <div id="tableau">

  </div>

</body>

<a href="/home"> REVENEZ A LA MAISON </a>

</html>